.menubar {
    text-align: right;
}

.mobile-menu {
    left: inherit;
    right: -380px;
}

.mobileAdd {
    left: inherit;
    right: 0 !Important;
}

.custom.accordion-body ul li a {
    margin-left: 0;
    margin-right: 40px;
}

.custom.accordion-body ul li a i {
    margin-right: 0;
    margin-left: 10px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.mobile-logo i {
    float: left;
}

.mobile-logo img {
    margin-left: 0;
    margin-right: 10px;
}

.sub-menu {
    left: inherit;
    right: 0;
}

.sub-menu > a {
    text-align: right;
}

.menubar {
    text-align: right;
}
.cart-box-cart img {
    margin-right: 0;
    margin-left: 6px;
}
.service-page-box li {
    padding-left: 0;
    padding-right: 40px;
}
.service-page-box li img{
    left: inherit;
    right: 0;
}
.about-page-box ul li {
    padding-left: 0;
    padding-right: 50px;
}
.about-page-box ul li img{
    left: inherit;
    right: 0;
}
.footer-location p {
    padding-left: 0;
    padding-right: 25px;
}
.footer-location p i{
    left: inherit;
    right: 0;
}

