@import "custom.css";


/*HEADER*/
header {
    position: sticky;
    width: 100%;
    z-index: 2;
    background: #15303C;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}

.active {
    color: var(--sc);
}

.logo a img {
    width: 147px;
}

.logo.menubar-mobile {
    cursor: pointer;
    padding: 8px 0;
}

.menubar {
    text-align: right;
}

.menubar > ul > li {
    display: inline-block;
}

.menubar > ul > li > a {
    text-transform: capitalize;
    font-weight: 500;
    padding: 6px 10px;
    -webkit-transition: .3s;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    font-size: 15px;
    color: var(--wc);
}

.menubar > ul > li > a:hover {
    color: var(--sc);
}

.menubar ul li a img {
    width: 16px;
    margin-right: 2px;
}

.sub-btn {
    position: relative;
}

.sub-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--wc);
    width: 150px;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 2px;
    z-index: 3;
}

.sub-btn:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleY(100%);
    -ms-transform: scaleY(100%);
    transform: scaleY(100%);
}

.sub-menu > a {
    display: block;
    width: 100%;
    padding: 5px 10px;
    text-transform: capitalize;
    font-weight: 500;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: var(--pc);
    text-transform: capitalize;
}

.sub-menu > a:hover {
    background: var(--sc);
    color: var(--wc) !important;
}

.menubar .active {
    background: var(--sc);
}

.sub-btn a span {
    padding: 0 10px;
    font-weight: 500;
    color: #C9C6C6;
}

.sub-btn a i {
    color: #C9C6C6;
    font-size: 25px;
}


header .fa-bars {
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
    color: var(--wc);
}

.menubar ul li.sign-in a {
    background: #5D5FEF;
    color: var(--wc);
    border-radius: 15px;
}
.cart-box{
    color: var(--wc);
    float: right;
}
.cart-box i{
    font-size: 30px;
}
.cart-box h6{
    margin: 0;
}
.cart-box-cart img{
    width: 35px;
    margin-right: 6px;
}
.cart-box-cart span{
    color: #C6C6C6;
    font-size: 14px;
}
.cart-box-cart h6{
    color: var(--yc);
    font-size: 20px;
}
/*HEADER END*/

/*MOBILE MENU*/

/*ACCORDION CUSTOM*/
.mobile-logo img {
    width: 147px;
    margin-left: 10px;
}

.mobile-logo i {
    float: right;
    margin: 5px 20px;
    color: var(--pc);
    cursor: pointer;
    height: 25px;
    width: 25px;
    line-height: 25px;
    border: 1px solid var(--pc);
    border-radius: 50%;
    text-align: center;
    font-size: 14px;

}

.mobile-logo i:hover {
    border: 1px solid var(--sc);
    color: var(--sc);
}

.mobile-logo i:hover {
    color: var(--sc);
}

.custom.accordion-button {
    text-transform: capitalize;
    font-size: 15px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    color: var(--pc);
    font-weight: 400;
}

.custom.accordion-button:hover {
    color: var(--sc);
}

.custom.accordion-button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-top: 1px solid #ccc;

}

.custom.accordion-button:not(.collapsed) {
    color: var(--sc);
    background: var(--rc);
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    font-weight: 400;
}

.none.accordion-button:not(.collapsed)::after {
    content: none;
    -webkit-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}


.none.accordion-button::after {
    content: none;
}

.custom.accordion-body {
    padding: 0 0px;
}

.custom.accordion-body ul {
    padding: 0;
    margin: 0;
}

.custom.accordion-body ul li {
    list-style: none;
    padding: 8px 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.custom.accordion-body ul li a {
    text-decoration: none;
    font-size: 15px;
    text-transform: capitalize;
    color: var(--pc);
    font-weight: 400;
    display: inline-block;
    margin-left: 40px;
}

.custom.accordion-body ul li a i {
    font-size: 10px;
    margin-right: 10px;
}

.custom.accordion-body ul li:hover {
    color: var(--wc);
    background: var(--rc);
}

.custom.accordion-body ul li:hover a {
    color: var(--sc);
}

.custom.accordion-item a {
    text-decoration: none;
    display: block;
    width: 100%;
}

.custom.accordion-item .accordion-button {
    display: block;
    width: 100%;
}

.accordion-button.custom i {
    padding: 0 10px;
}

.custom.accordion-button:focus {
    border: none;
}

/*ACCORDION CUSTOM END*/


.mobile-menu {
    width: 300px;
    position: fixed;
    left: -380px;
    top: 0;
    z-index: 3;
    background: var(--wc);
    height: 100%;
    overflow: auto;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    padding: 10px 0;
}

#mobileOverlay {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background: rgba(41, 0, 91, 0.59);
    z-index: 2;
    cursor: pointer;
}

.mobileAdd {
    left: 0 !important;
    width: 300px;
}

.mobile-overlay {
    position: inherit !important;
}

/*MOBILE MENU END*/

/*banner section*/
.banner-content {
    max-width: 758px;
}
.banner-content h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
    color: var(--wc);
}
.banner-content h1 span{
    color: var(--yc);
}
.banner-content .banner-btn a{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--wc);
    background: var(--yc);
    padding: 10px 30px;
    border: 1px solid var(--yc);
    border-radius: 25px;
    margin: 0 5px;
}
.banner-content .banner-btn a:last-child{
    background: none;
    color: var(--yc);
}
/*banner section end*/

/*HELP SECTION*/
.help-header h4{
    font-variant-position: 32px;
    line-height: 42px;
    color: var(--tc);
}
.help-header h4::after{
    content: '';
    height: 2px;
    width: 100px;
    background: var(--tc);
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
.help-col{
    width: 20%;
    padding: 10px;
}
.help-box .help-img{
       background: var(--wc);
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    width: 100%;
    display: block;
}
.help-box .help-img img{
    width: 80%;
    padding: 10px 0;
}
.help-box p{
    font-weight: 600;
    font-size: 18p;
    line-height: 27px;
    text-align: center;
    padding-top: 15px;
}
/*HELP SECTION END*/

/*WHY SECTION*/
.why-section{
    background: var(--yc);
}
.why-section h3{
    font-weight: 700;
    font-size: 50px;
    font-weight: 60px;
    color: #0B222A;
}
.why-box{
    background: #FF7522;
border-radius: 10px;
    padding: 15px;
    transition: .3s;
}
.why-box:hover{
    background: 
#FF8C46;
}
.why-box h6{
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #0B222A;
    margin-bottom: 15px;
}
.why-box p{
    color: #212121;
}
/*WHY SECTION EDN*/

/*SERVICE SECTION*/
.service-head h3{
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #0B222A;
}
.service-box{
    background: var(--wc);
box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.12);
border-radius: 10px;
    text-align: center;
    padding: 25px;
    height: 100%;
}
.service-box img{
    width: 100%;
    border-radius: 25px;
    margin-bottom: 15px;
    background: var(--wc);
}
.service-box h6{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 15px;
}
.service-box a{
    font-weight: 600;
    color: #1976D2;
    text-decoration: underline;
}
/*SERVICE SECTION END*/

/*ABOUT SECTION*/
.about-text h4{
    font-weight: 700;
    font-size: 50px;
    font-weight: 60px;
    color: #0B222A;
}
.about-text p{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.about-text a{
    font-weight: 700;
    font-size: 20px;
    color: var(--wc);
    background: var(--yc);
    padding: 10px 30px;
    border-radius: 25px;
}
.about-img img{
    width: 100%;
}
/*ABOUT SECTION END*/

/*FOOTER*/
footer {
    background: #0B222B;
}


.footer-head {
    color: var(--pc);
}

.footer-head h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--wc);
    padding-bottom: 1opx;
    margin-bottom: 5px;
}
.footer-head h6::after{
    content: '';
    height: 2px;
    width: 50px;
    background: var(--yc);
    display: block;
    margin-top: 10px;
}
.footer-head ul li a {
    color: var(--gc);
    padding: 8px 0;
    text-transform: capitalize;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font-size: 14px;
    font-weight: 400;
}


.footer-head ul li {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: relative;
}

.footer-head ul li:hover {
    margin-left: 2px;
}
.footer-head ul li:hover a{
    color: var(--wc);
}

.footer-head p {
    color: #E0E0E0;
    font-weight: 400;
    font-size: 14px;
}
.footer-location{
    padding: 5px 0;
}
.footer-location p {
    position: relative;
    padding-left: 25px;
}

.footer-location p i {
    position: absolute;
    left: 0;
}

.footer-social a i {
    background: none;
    height: 24px;
    width: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    margin-right: 5px;
    border: 1px solid #3A3D4D;
    color: var(--wc);
}
.footer-social h5{
    color: var(--wc);
    border-bottom: 1px solid #515466;
    font-weight: 400;
    font-size: 14px;
    padding: 5px;
}
.footer-top h4{
    font-weight: 600;
    font-size: 35px;
    line-height: 32px;
    color: var(--wc);
}
.footer-location p{
    color: var(--wc);
    font-size: 16px;
    color: var(--gc);
    max-width: 350px;
    margin: 0;
}
.footer-top-content{
    border: 1px solid var(--gc);
    padding: 10px;
    border-radius: 2px;
}
.copyright {
    border-top: 1px solid #374058;
}

.copyright p {
    margin: 0;
    font-size: 14px;
    line-height: 26px;
    color: var(--gc);
}

.copyright-menu {
    text-align: right;
}

.copyright-menu a {
    text-align: right;
    font-size: 14px;
    line-height: 26px;
    color: var(--gc);
    margin-left: 10px;
    transition: .3s;
}
.copyright-menu a:hover{
    color: var(--wc);
}
/*FOOTER END*/

/*ABOUT SECTION*/

.page-banner{
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-banner h2{
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: var(--yc);
}
.page-banner a,span{
    color: var(--wc);
}
.page-banner a:hover{
    color: var(--gc);
}
.about-page-box ul li{
    padding: 12px 0;
    padding-left: 50px;
    position: relative;
    
}
.about-page-box ul li img{
    position: absolute;
    left: 0;
    top: 18px;
}

.about-page-box h3{
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #0B222A;
}
.about-page-box h6{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--bc);
}
.about-page-box ul li{
    font-weight: 700;
     font-size: 20px;
    line-height: 30px;
    
}
.about-page-right img{
    width: 100%;
}
.trams-condition h3{
    font-size: 50px;
    line-height: 60px;
    text-align: center;
}
/*ABOUT SECTION END*/

/*SERVICE PAGE SECTION*/
.service-page-box h4{
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    color: #0B222A;
}
.service-page-box p{
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #424242;
}
.service-page-box li{
    list-style: none;
    padding-left: 40px;
    position: relative;
    color: #616161;
    margin: 0;
}
.service-page-box li img{
    position: absolute;
    top: 0;
    left: 0;
}
.service-page-box a{
    font-weight: 700;
    color: var(--wc);
    background: var(--yc);
    padding: 8px 20px;
    border-radius: 5px;
}
.service-page-box{
    background: var(--wc);
    padding: 20px;
    border-radius: 10px;
    height: 100%;
}
.product-box img{
    width: 100%;
}
.product-box h6{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--bc);
    margin-top: 10px;
}
.package-section .package-head h4{
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
}
.package-section .package-head .package-head-left{
    width: 600px;
}
.package-section .package-head  span{
    content: '';
    height: 1px;
    width: 100%;
    display: block;
    background: #cccccc;
}
.package-box{
    background: var(--wc);
    padding: 10px 15px;
}
.package-box img{
    width: 100%;
}
.package-box h6{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.package-box p{
    margin: 0;
    padding: 5px 0;
}
.package-box a{
    color: var(--yc);
    border: 1px solid var(--yc);
    padding: 5px 15px;
    border-radius: 20px;
    transition: .3s;
}
.package-box a:hover{
    background: var(--yc);
    color: var(--wc);
}
/*SERVICE PAGE SECTION END*/